body {
    background-color: yellow;
}

h1 {
    font-size: 36px;
}

p {
    color: green;
}

.center {
   text-align: center; 
}

#cool-text {
    color: blue;
}

#item-color {
    color: darksalmon;
}